<!--Views/Product/Index.cshtml-->
@using System.Security.Claims
@model IEnumerable<Product>

<style>
    .card-img-top {
        max-height: 150px; 
        max-width: 100%; 
        width: auto; 
        object-fit: contain;

    }
   

</style>


<h2>Product Listesi</h2>
@if (User.Identity.IsAuthenticated)
{
    <a href="/Product/Create" class="btn btn-primary">Product Ekle</a>
}
<hr>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (!string.IsNullOrEmpty(item.ProductImage))
                {
                    <img src="@item.ProductImage" class="card-img-top" alt="Product Image">
                }
                else
                {
                    <img src="/img/defaultproduct.png" class="card-img-top" alt="Default Product Image">
                }

                <div class="card-body">
                    <h5 class="card-title">Ürün Adı: @item.ProductTitle</h5>
                    <p class="card-text">Ürün Açıklaması: @item.ProductDesc</p>
                    <p class="card-text">Ürün Seri Numarası: @item.ProductSerial</p>
                    <p class="card-text">Ürün Fiyatı: @String.Format("{0:N2}", item.ProductPrice) ₺</p>
                    

                     @if (User.Identity.IsAuthenticated && item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                       
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger" onclick="return confirm('Bu ürünü silmek istediğinizden emin misiniz?')">Delete</a>
                    }
                    <hr>
               <div class="mt-3 text-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Product" asp-action="Order" asp-route-id="@item.ProductId" class="btn btn-primary">Sepete Ekle</a>
                }
                else
                {
                    <a href="/Account/Login" class="btn btn-primary">Sepete Ekle</a>
                }
            </div>                 
                </div>
                
            </div>
            
        </div>
    }
</div>
