<!-- Views/Account/Index.cshtml -->

@model ShopAppProject.Data.ApplicationUser

@{
    ViewData["Title"] = "Hesabım";
    var roles = ViewBag.Roles as IList<string>;
    var walletBalance = ViewBag.WalletBalance as decimal?;


}



<div class="container mt-5">
                    <h4 class="pb-4 border-bottom" readonly onmousedown="return false;" style="cursor: default;">Hesap Ayarları</h4>

    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="user-info-tab" data-toggle="tab" href="#user-info">Kullanıcı Bilgileri</a>
        </li>
        @if (roles.Contains("Admin") || roles.Contains("Company"))
        {
            <li class="nav-item">
                <a class="nav-link" id="business-info-tab" data-toggle="tab" href="#business-info">Şirket Bilgileri</a>
            </li>
        }
         <li class="nav-item">
            <a class="nav-link" id="mylist-info-tab" data-toggle="tab" href="#mylist-info">Listem</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="user-info">
            
            <div class="wrapper bg-white mt-sm-5" >
                <div class="d-flex align-items-start py-3 border-bottom">
                    <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="img" alt="" style="max-height: 80px; margin-top: -50px;">
                    <div class="pl-sm-4 pl-1" id="img-section" style="margin-top: -50px; padding:10px;">
                        <b>Profil Fotoğrafı</b>
                        <p>1MB'dan az .png .jpg </p>
                        <button style="margin-left: -120px; margin-top:20px;" class="btn button border"><b>Upload</b></button>
                    </div>
                    
                     
                    <div class="pl-sm-4 pl-2" id="img-section" style="margin-left: 25%; margin-top:-50px;">
                        <img src="img/money.png" class="img" alt="" style="max-height: 60px; margin-right: 2%;">
                        <b>Güncel Bakiye:  @walletBalance?.ToString("C")</b>
                        <a class="btn btn-warning mr-5" asp-action="Wallet">
                            <i class="fas fa-plus"></i> Bakiye Ekle
                        </a>
                        <p>Yüklenen Bakiyeler İade Edilmez!</p>
                    </div>
                </div>
                
                <div class="py-2">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="firstname">Ad</label>
                        <input type="text" class="bg-light form-control" value="@Model.FirstName" readonly onmousedown="return false;"style="cursor: default;">

                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="lastname">Soyad</label>
                            <input type="text" class="bg-light form-control" value="@Model.LastName" readonly onmousedown="return false;"style="cursor: default;">
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <label for="email">Email Adres <span style="color: red;">Değiştirilemez</span></label>
                            <input type="text" class="bg-light form-control" value="@Model.UserName" readonly onmousedown="return false;" style="cursor: default;">
                        </div>

                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="phone">Telefon Numarası</label>
                            <input type="text" class="bg-light form-control" value="@Model.PhoneNumber" readonly onmousedown="return false;" style="cursor: default;">
                        </div>
                    </div>
                    <div class="row py-2"> 
                      <div class="col-md-6">
                        <label for="address">Kayıtlı Adres</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="address" value="@Model.Address" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#addressModal">
                                    <i class="fas fa-map-marker-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label for="Role">Rol  <span style="color: red;">@(roles.Contains("Admin") || roles.Contains("Company") ? "Değiştirilemez" : "")</span></label>
                            <input type="text" class="bg-light form-control" value="@string.Join(", ", roles)" readonly onmousedown="return false;" style="cursor: default;">
                        </div>


                    </div>
                    <div class="py-3 pb-4 border-bottom">
                        <a class="btn btn-primary mr-3" asp-action="Edit">Bilgilerimi Güncelle</a>
                        <a class="btn border button" asp-action="ChangePassword">Şifre Değiştir</a>

                    
                    </div>
                   
                </div>
            </div>

        </div>

          <div class="tab-pane fade" id="mylist-info">
   <a class="pb-4 border-bottom" style="font-size:24px;" asp-controller="myList" asp-action="Index">Listem</a>
    @if (Model.UserProductLists.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Stok</th>
                    <th>Fiyat</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userProduct in Model.UserProductLists)
{
    @Html.Partial("_UserProductListItem", userProduct)
}

            </tbody>
        </table>
    }
    else
    {
        <p>Listeniz Boş</p>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Harita Görünümü</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Google Haritalar API eklenmiş bir iframe -->
                <iframe
                    width="100%"
                    height="300"
                    frameborder="0"
                    style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=Samsun&key=YOUR_GOOGLE_MAPS_API_KEY"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

        @if (roles.Contains("Admin") || roles.Contains("Company"))
        {
            <div class="tab-pane fade" id="business-info">
                <h4 class="pb-4 border-bottom">Şirket Bilgileri</h4>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessCompany">Şirket Adı</label>
                        <input type="text" class="form-control" value="@Model.BusinessCompany"  readonly onmousedown="return false;" style="cursor: default;">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="businessID">Şirket ID</label>
                        <input type="text" class="form-control" value="@Model.BusinessID"  readonly onmousedown="return false;" style="cursor: default;">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessMail">Şirket Mail</label>
                        <input type="text" class="form-control" value="@Model.BusinessMail"  readonly onmousedown="return false;" style="cursor: default;">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="businessAddress">Şirket Adres</label>
                        <input type="text" class="form-control" value="@Model.BusinessAddress"  readonly onmousedown="return false;" style="cursor: default;">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="businessPhoneNumber">Şirket Telefon Numarası</label>
                        <input type="text" class="form-control" value="@Model.BusinessPhoneNumber"  readonly onmousedown="return false;" style="cursor: default;">
                    </div>
                    <!-- Add additional business information fields as needed -->
                </div>
            </div>
        }

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UoWvMSZp8U1YSF4+dXnjs+U0Fh7fe3lFiiBs2qtPcHqrI" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
